{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <!-- Modal Description-->
                <div class="modal fade" id="Modal-MoreInfo-{{ item.id }}"
                     tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">
                            <!-- -->
                            {{ item.name }}
                            </h5>
                                <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                        {{ item.description }}
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="POST">
                <!-- Purchase confirmation-->
                <div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}"
                     tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">
                            <!-- -->
                            {{ item.name }}
                            </h5>
                                <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">Confirm purchase of - 
                        {{ item.name }}
                        </div>
                            <div class="modal-footer">
                                <input type="hidden" name="code" value="{{ item.id }}"/>
                                <input type="hidden" name="name" value="{{ item.name }}"/>
                                <input type="hidden" name="barcode" value="{{ item.barcode }}"/>
                                <input type="hidden" name="price" value="{{ item.price }}"/>
                                <input type="hidden" name="description" value="{{ item.description }}"/>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" value="Purchase-Add to Cart" class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.price }}$</td>
                    <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

