{% extends 'base.html' %}
{% block title %}
  Cart Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <form method="POST">
        <tbody>
            {% for item in cart %}
            <td>{{ item['name'] }}</td>
            <td>{{ item['price'] }}$</td>
            <td>{{ item['quantity'] }}</td>

            <td>
                <input type="hidden" name="id" value="{{ item['_id'] }}"/>
                <input type="submit" name="remove" value="Remove" class="btn btn-secondary"/>
                <input type="submit" name="buy" value="Buy Now" class="btn btn-primary"/>
            </td>
        </tr>
    {% endfor %}
</tbody>
</form>

</table>

{% endblock %}